@model IEnumerable<ViagemBella.Models.Pacote>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.css">
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Destino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diarias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Destino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diarias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPacote">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPacote">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPacote">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
